// Specific CSS for your home-page
// banner

h1, h2, h3, h4, p {
  // font-family: 'Open Sans', sans-serif;
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
#btn-explore {
  position: relative;
  // margin: auto;
  top: 120px;
  text-align: center;
}

#home-second-ph {
  .banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  }
}

.btn-primary {
  display: inline-block;
  background-color: #f25f5c;
  padding: 16px 36px;
  border-radius: 50px;
  color: white;
  border: none;
}

.btn-primary:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #f36f6c;
  }

.btn-secondary {
  display: inline-block;
  background-color: #f25f5c;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  border: none;

}

.btn-secondary:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #f36f6c;
  }

.form-row {
  padding: 30px;
}

#titles {
  margin-top: 30px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 100px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #white;
  bottom: 0px;
  width: 100%;
}

.footer a {
  font-size: 30px;
  color:  #f25f5c;
}

.footer p {
  color: #6B6C6C;
  text-align: center;
}

.footer .fas {
  color: #BF0F12;
}
