// Import page-specific CSS files here.
@import "home";

h1 {
  color: #f25f5c;
  position: center;
}

.main-container {
  display: flex;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  grid-template-columns: 1fr;
}

#renter h1, p {
  text-align: end;
}

#index-items {

}
