// Import page-specific CSS files here.
@import "home";

#banner-index {
  h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: bold;
  }
}

.main-container {
  display: flex;
  margin-top: 15px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
  grid-template-columns: 1fr;
}

#renter h1, p {
  text-align: end;
}

#cards-container {
  padding: 25px 50px 25px 50px;

}
