// Import page-specific CSS files here.
@import "home";

#banner-index {
  h1 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 52px;
  font-weight: light;
  }
}
// body {
//     background: linear-gradient(to bottom left, #1c92d2 50%, #f2fcfe 50%);
// }

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.main-container {
  display: flex;
}

#map {
  // height: 100vh;
  position: sticky;
  top: 0;
  // width: 30%;
  // grid-template-columns: 1fr;
    justify-self: center;

}

#renter h1, p {
  text-align: end;
  padding-right: 20px;
}

#cards-container {
  padding: 25px 50px 25px 50px;
  justify-content: center;
}
