
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
<!-- banner section -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/1600x900/?sport,extreme');">
  <div class="container">
    <h1>Always wanted to try a new sport?</h1>
    <p>Rent sport eqipment for short period from privates  and have fun without spending a fortune!</p>
    <%= link_to "Explore", items_path, class: "btn-primary" %>

    <form>
    <div class="form-row">
      <div class="col-6">
        <input type="text" class="form-control" placeholder="For which sport?">
      </div>
        <div class="col">
          <input type="text" class="form-control" id="start_date" placeholder="Start date">
        </div>
      <div class="col">
        <input type="text" class="form-control" id="end_date" placeholder="End date">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Where?">
      </div>
      <div class="col">
        <a class="btn-secondary" href="#">Go!</a>
      </div>
    </div>
  </form>

  </div>

  
</div>



<!-- cards section  -->

<div class="container">
  <h2 class="text-center">How does it work</h2>
</div>

<div class="container">
  <h2 class="text-center">Last added products</h2>
  <div class="cards">

    <div class="card">
      <img src="https://source.unsplash.com/1600x900/?kite-surf" alt="">
      <h4>Kite surf</h4>
      <p>Rent for a day 10$.</p>
    </div>

    <div class="card">
      <img src="https://source.unsplash.com/1600x900/?Kayak" alt="">
      <h4>kayak</h4>
      <p>Rent for a day 10$.</p>
    </div>

    <div class="card">
      <img src="https://source.unsplash.com/1600x900/?Snowboard" alt="">
      <h4>Ski</h4>
      <p>Rent for a day 10$.</p>
    </div>

  </div>
</div>



<div class="container my-5">
  <div class="row justify-content-md-center">
    <div class="col-md-4 text-center">
      <%= link_to "Explore More", items_path, class: "btn-primary" %>
    </div>
  </div>
</div>


<!-- eventually footer section -->

  <div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-github"></i></a>
      <p>This website is coded with lots of <i class="fas fa-heart"></i> from the 3 musketeers.</p>

    </div>
  </div>
