<div class="container">
   <h1>All Amazing Sport Equipment Around You</h1>

      <ul style="list-style-type:none">
      <% @items.each do |item| %>
         <li><%= item.name %> | <%= item.description %>  | <%= link_to 'Rent', item_path(item) %></li> 
      <% end %>
      </ul>
<%= link_to 'Back', root_path %> 
</div>




